body {
  font-size: 14px;
}

nav {
  background-color: yellow; /* added "-" after background and before color */
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
} /* added closing bracket */

section {
  margin: 0 auto;
  width: 60%;
}

h1 {
  font-family: sans-serif; /* added "-" after font */
  font-size: 2em;
}

.example, h3 {
  padding-top: 30px;
  text-align: center; /* added "-" and ";" */
}

h3 {
  font-size: 1.3em;
}

.element {
  background-color: green;
  height: 100px;
  margin: 10px 0; /* added ":" after margin */
  width: 100%;
} /* added "}" */
